<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.testvue.testvue.mapper.UserMapper">


    <update id="update" parameterType="com.testvue.testvue.enity.po.User" >

     update users
     <set>
         <if test="name != null and name != '' ">
             name=#{name},
         </if>
         <if test="account != null and account != '' ">
             account=#{account},
         </if>
         <if test="password != null and password != '' ">
             password=#{password},
         </if>
         <if test="age != null  ">
             age=#{age},
         </if>
         <if test="address != null and address != '' ">
             address=#{address},
         </if>
         <if test="gender != null and gender != '' ">
             gender=#{gender},
         </if>
         <if test="city != null and city != '' ">
             city=#{city},
         </if>
         <if test="updateTime != null ">
         update_time=#{updateTime}
         </if>

     </set>
        where id=#{id}

    </update>

    <select id="pagefind" parameterType="com.testvue.testvue.enity.dto.PageUserDTO" resultType="com.testvue.testvue.enity.po.User">
        SELECT * FROM users
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="account != null and account != ''">
                AND account LIKE CONCAT('%', #{account}, '%')
            </if>
        </where>
    </select>


</mapper>
